body {
  min-width: 600px;
}

.container-fluid {
  margin: 20px;
}

.blinken-environment {
  display: block;
  height: 200px;
  border-right: 10px solid #fff;
  color: #fff;
}

.blinken-environment:hover {
  text-decoration: none;
  color: #fff;
}

.blinken-entry {
  color: #fff;
  position: absolute;
  bottom: 10px;
}

.blinken-entry h3 {
  margin-bottom: 0;
  font-size: 400%;
}

.blinken-critical-entries {
  left: 15px;
  text-align: left;
}

.blinken-warning-entries {
  right: 15px;
  text-align: right;
}

.blinken-critical {
  background-color: #ff3200;
}

.blinken-warning {
  background-color: #ffcc05;
}

.blinken-ok {
  background-color: #1ace00;
}

.blinken-unknown {
  background-color: #ddd;
}
