body {
  min-width: 800px;
  background-color: #000;
  color: #fff;
}

.container-fluid {
  margin: 20px;
}

.blinken-environment {
  display: block;
  padding: 10px;
  color: #fff;
}

.col-xs-4 {
  padding-left: 0;
  padding-bottom: 15px;
}

.blinken-environment:hover {
  text-decoration: none;
  color: #fff;
}

.blinken-entry {
  color: #fff;
  bottom: 10px;
  display: inline-block;
  width: calc(100% / 3);
}

.blinken-entry h3 {
  margin-bottom: 0;
  font-size: 400%;
}

.blinken-critical-entries {
  text-align: left;
}

.blinken-warning-entries {
  text-align: center;
}

.blinken-unknown-entries {
  text-align: right;
}

.blinken-critical {
  background-color: #ff3200;
}

.blinken-warning {
  background-color: #ffcc05;
}

.blinken-unknown {
  background-color: #e066ff;
}

.blinken-ok {
  background-color: #1ace00;
}

.blinken-unavailable {
  background-color: #ddd;
}
